/* ====================== 랜딩 페이지   ====================== */
/* *STYLEPAGE: landing - 랜딩 페이지 */

/* ====================== 반응형 스타일 ====================== */
/* *STYLEMEDIA: 페이지 - 태블릿 (1200px 이하) */
@media (max-width: 1200px) {
}

/* *STYLEMEDIA: 페이지 - 모바일 대 (768px 이하) */
@media (max-width: 768px) {
}

/* *STYLEMEDIA: 페이지 - 모바일 소 (480px 이하) */
@media (max-width: 480px) {
}
